* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat";
}
body {
    background-color: #f5f5f5;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background-color: #9500ff;
}
.top-bar {
    background-color: #9500ff;
    padding: 10px;
    color: #fff;
}

.top-bar p {
    margin: 0px;
    font-size: 14px !important;
    font-weight: 500;
}

.top-bar a {
    color: #fff;
}

.top-bar a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.top_second p {
    text-align: right;
    margin-right: 38%;
}

.top_third p {
    text-align: right;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: 600;
    padding: 15px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9500ff;
}

.sticky-top {
    animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
.cart-left {
    position: relative;
}
.cart-left i {
    font-size: 1.8rem;
}
.cart-left .badge-secondary {
    color: #fff;
    background-color: #9500ff !important;
}
.cart-left .badge {
    position: absolute;
    right: -9px;
    top: 20px;
    height: 16px;
    min-width: 16px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.wishlist-left {
    position: relative;
}
.wishlist-left i {
    font-size: 1.8rem;
}
.wishlist-left .badge-secondary {
    color: #fff;
    background-color: #9500ff !important;
}
.wishlist-left .badge {
    position: absolute;
    right: -5px;
    top: 17px;
    height: 16px;
    min-width: 16px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.nav-link {
    vertical-align: middle;
    line-height: 35px;
}
.custom-link {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.custom-link:hover {
    color: #9500ff;
    text-decoration: none;
    cursor: pointer;
}

.carousel-item img {
    width: 100%;
    height: 40vw;
}

.about_section {
    background-color: #e4e4e4;
}

.trending_gifts {
    width: 100%;
    height: 220px;
    background-color: #e4e4e4;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 18px 10px -15px #111;
}

.trending_gifts .bottom_gift_card {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(59, 59, 59);
}

.featured_stories_section {
    background-color: #f2f2f2;
}

.featured_stories {
    width: 100%;
    height: 180px;
    background-color: #fff;
    box-shadow: 0 10px 10px -15px #111;
}

.owl-stage {
    margin: 25px 0px;
    overflow: visible;
}

.what_people_say {
    background-color: #fff;
}

.what_people_say_badge {
    width: 100%;
    height: 220px;
    background-color: #f2f2f2;
    box-shadow: 0px 18px 10px -20px #111;
}

.owl-prev {
    position: absolute;
    top: 45%;
    margin-left: -45px;
    display: block !important;
    border: 0px solid black;
    background-color: #9500ff !important;
    color: #fff !important;
    width: 35px;
    height: 35px;
}

.owl-prev:focus {
    outline: none;
}

.owl-next {
    position: absolute;
    top: 45%;
    right: -45px;
    display: block !important;
    border: 0px solid black;
    background-color: #9500ff !important;
    color: #fff !important;
    width: 35px;
    height: 35px;
}

.owl-next:focus {
    outline: none;
}

footer {
    width: 100%;
    background-color: #dee2e6;
    min-height: 250px;
    color: #000;
}

.footerLogo {
    width: 130px;
}

.footerUl {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footerUl li {
    padding: 0px 0px 10px 0px;
}

.footerUl li a {
    color: #000;
}

.footerUl li a:hover {
    color: #9500ff;
    text-decoration: none;
}

.footerAbout {
    font-size: 14px;
}

.footerMenuHeading {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.footerBottomLink {
    color: #9500ff;
    font-weight: bold;
}

.footerBottomLink:hover {
    color: #9500ff;
    cursor: pointer;
    text-decoration: none;
}

.footer_subscribe h6 {
    font-size: 14px;
}

.footer_subscribe input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #000;
    border: 1px solid #000;
    padding: 10px;
}

.footer_subscribe input::placeholder {
    color: #000;
    opacity: 0.7;
}

.footer_subscribe input:focus {
    outline: none;
}

@media only screen and (max-width: 320px) {
}

@media only screen and (max-width: 400px) {
    .carousel-item img {
        width: 100%;
        height: 220px;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 5px;
    }
    .top_first p {
        text-align: center;
    }
    .top_second p {
        text-align: center;
    }
    .top_third p {
        text-align: center;
    }
}

@media only screen and (max-width: 990px) {
}

label {
    width: 100%;
}

.form-field {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-bottom: 2px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-field:focus {
    outline: none;
}
.custom-bg {
    color: #fff;
    background-color: #9500ff !important;
}
.custom-btn {
    color: #fff;
    background-color: #9500ff;
    border-color: #9500ff;
    border-radius: 0;
    padding: 10px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #7500de;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.custom-btn:hover {
    color: #fff;
    background-color: #9500ff;
    border-color: #9500ff;
}

.custom-btn:focus,
.custom-btn.focus {
    color: #fff;
    background-color: #9500ff;
    border-color: #9500ff;
    box-shadow: 0 0 0 0.2rem rgba(194, 151, 92, 0.5);
}

.custom-btn.disabled,
.custom-btn:disabled {
    color: #fff;
    background-color: #9500ff;
    border-color: #9500ff;
}

.custom-btn:not(:disabled):not(.disabled):active,
.custom-btn:not(:disabled):not(.disabled).active,
.show > .custom-btn.dropdown-toggle {
    color: #fff;
    background-color: #9500ff;
    border-color: #9500ff;
}

.custom-btn:not(:disabled):not(.disabled):active:focus,
.custom-btn:not(:disabled):not(.disabled).active:focus,
.show > .custom-btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #9500ff;
}

.slide_down:hover {
    box-shadow: inset 0 100px 0 0 #7500de !important;
}

.contact-heading {
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.75rem;
}

.contact-content .contact-info {
    list-style-type: none;
    padding-left: 0px;
}

.contact-content .contact-info li {
    display: flex;
    padding-bottom: 37px;
}

.contact-content .contact-info li a {
    line-height: 1.5;
    color: #212529;
    text-decoration: none;
    background-color: transparent;
    font-weight: 600;
}

.contact-content .contact-info li a:hover {
    color: #9500ff;
}

.contact-content .contact-info li .fa {
    color: #9500ff;
    font-size: 30px;
    width: 45px;
    display: flex;
    align-items: center;
}

.contact-content .contact-info li span {
    display: block;
}

#backToTop {
    display: inline-block;
    background-color: #9500ff;
    border: none;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 0px;
    position: fixed;
    bottom: 90px;
    right: 30px;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #7500de;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    color: #fff;
    font-size: 18px;
}

#backToTop:hover {
    cursor: pointer;
    background-color: #c7363b;
    border: none;
}

#backToTop:active {
    background-color: #c7363b;
    border: none;
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
}

.custom-heading {
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

.accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #000;
    font-size: 1.15rem;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
    text-decoration: none;
}

.accordion a:hover,
.accordion a:hover::after {
    cursor: pointer;
    color: #c7363b;
}

.accordion a:hover::after {
    border: 1px solid #c7363b;
}

.accordion a.active {
    color: #9500ff;
}

.accordion a::after {
    font-family: "Font Awesome 5 Free";
    content: "\f067";
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #9500ff;
    padding: 3px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #9500ff;
    text-align: center;
    font-weight: 900;
}

.accordion a.active::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f068";
    color: #9500ff;
    border: 1px solid #9500ff;
}

.accordion .content {
    display: none;
    padding: 1rem;
    overflow: hidden;
}

.accordion .content p {
    font-size: 1rem;
    font-weight: 300;
}

.input-group-text {
    background-color: transparent !important;
}

.login-form {
    width: 50%;
    padding: 2rem;
}

.login-form form {
    width: 80%;
}

.product-card {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #fff;
}

.product-card .product-image {
    position: absolute;
    width: 100%;
    top: 0;
    height: 250px;
    overflow: hidden;
    border-bottom: 1px solid #ed32381a;
}

.product-card .product-image img {
    width: 100%;
    /* height: 100%; */
}

.product-card .product-data {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 7px;
    height: 150px;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-card .product-data p {
    margin: 0;
    color: #6c757d;
    font-size: 0.875rem;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    overflow: hidden;
    text-align: center;
}

.product-card .product-data a {
    color: #000;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card .product-data a:hover {
    color: #9500ff;
}

.product-card .product-data h2 {
    color: #9500ff;
    font-weight: 700;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-transform: uppercase;
}

.product-overlay {
    position: absolute;
    bottom: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #dadadaa6;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    opacity: 0;
}

.product-card:hover .product-overlay {
    bottom: 25%;
    height: 250px;
    z-index: 999;
    transition-timing-function: ease-in;
    transition: 0.9s;
    transform: translateY(0px) !important;
    -webkit-transform: translateY(0px) !important;
    opacity: 1;
}

.data-overlay {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -70%);
    text-align: center;
}

.product-card .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    overflow: hidden;
}

.product-card .icons .icon {
    position: relative;
    display: flex;
    width: 40px;
    margin: 15px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
}

.product-card .badges {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99;
}

.product-card .badges .badge {
    display: inline-block;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
    padding: 2px 7px 2px 7px;
    min-width: 40px;
    text-align: center;
}

.product-card .badge {
    line-height: 1.5;
}

/*List Product Card*/
.product-card-list {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #fff;
    overflow: hidden;
}

.product-card-list .product-image {
    position: absolute;
    width: 30%;
    top: 0;
    /* height: 250px; */
    overflow: hidden;
}
.product-card-list .list-card-bottom {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.product-card-list .product-image img {
    width: 100%;
    height: 100%;
}

.product-card-list .product-data {
    position: absolute;
    bottom: 0;
    width: 70%;
    left: 30%;
    padding-bottom: 7px;
    height: 100%;
    padding-left: 20px;
    padding-top: 10px;
}

.product-card-list .product-data p {
    color: #6c757d;
    font-size: 0.875rem;
    overflow: hidden;
}

.product-card-list .product-data a {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.product-card-list .product-data a:hover {
    color: #9500ff;
}

.product-card-list .product-data h2 {
    color: #9500ff;
    font-weight: 700;
    font-size: 1.6rem;
    margin: 0;
    text-transform: uppercase;
}

.product-overlay-list {
    position: absolute;
    bottom: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #dadadaa6;
    overflow: hidden;
    width: 30%;
    height: 0;
    transition: 0.5s ease;
    opacity: 0;
}

.product-card-list:hover .product-overlay-list {
    bottom: 25%;
    height: 250px;
    z-index: 999;
    transition-timing-function: ease-in;
    transition: 0.9s;
    transform: translateY(0px) !important;
    -webkit-transform: translateY(0px) !important;
    opacity: 1;
}

.product-card-list .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    overflow: hidden;
}

.product-card-list .icons .icon {
    position: relative;
    display: flex;
    width: 40px;
    margin: 15px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
}

.product-card-list .badges {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99;
}

.product-card-list .badges .badge {
    display: inline-block;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
    padding: 2px 7px 2px 7px;
    min-width: 40px;
    text-align: center;
}

.product-card-list .badge {
    line-height: 1.5;
}
/*Store*/

.store-card {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #fff;
}

.store-card .store-image {
    position: absolute;
    width: 100%;
    top: 0;
    height: 200px;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-card .store-image img {
    width: 75%;
    /* height: 100%; */
}

.store-card  .badge {
    display: inline-block;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
    padding: 2px 7px 2px 7px;
    min-width: 40px;
    text-align: center;
}
.store-card .badge {
    line-height: 1.5;
}
.store-card .store-data {
    position: absolute;
    bottom: 0;
    width: 100%;
       display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: cente
}

.store-card .store-data p {
    margin-bottom: 5px;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    overflow: hidden;
    text-align: center;
}

.store-card .store-data a {
    color: #000;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-card .store-data a:hover {
    color: #9500ff;
}

.store-card .store-data h2 {
    color: #9500ff;
    font-weight: 700;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-card .store-data .ratings {
    color: #9500ff;
    text-align: center;
}

.store-card .store-data .ratings i {
    margin-right: 5px;
}

.store-overlay {
    position: absolute;
    bottom: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #dadadaa6;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    opacity: 0;
}

.store-card:hover .store-overlay {
    bottom: 25%;
    height: 75%;
    z-index: 999;
    transition-timing-function: ease-in;
    transition: 0.9s;
    transform: translateY(0px) !important;
    -webkit-transform: translateY(0px) !important;
    opacity: 1;
}

.store-data-overlay {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -70%);
    text-align: center;
}

.store-card .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    overflow: hidden;
}

.store-card .icons .icon {
    position: relative;
    display: flex;
    width: 40px;
    margin: 15px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
}

.store-card .badges {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99;
}

.store-card .badges .badge {
    display: inline-block;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
    padding: 2px 7px 2px 7px;
    min-width: 40px;
    text-align: center;
}

.store-card .badge {
    line-height: 1.5;
}

@media only screen and (max-width: 992px) {
    .mobile-icons {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 99;
    }
    .product-card .icons {
        top: -10px;
        display: block;
        padding: 0;
        right: -10px;
        position: absolute;
    }
    .product-card .icons .icon {
        width: 30px;
        margin: 5px;
        height: 30px;
    }
    .mobile-icons .icon-liked {
        position: relative;
    }
    .mobile-icons .icon-liked .badge {
        border-radius: 0;
        position: absolute;
        right: -10px;
        top: -6px;
    }
    .mobile-icons .icon {
        position: relative;
        color: #fff;
    }
    .mobile-buttons {
        position: absolute;
        text-align: center;
        bottom: 10px;
        z-index: 99;
        width: 100%;
    }
    .product-card {
        height: 350px;
    }
    .product-data {
        bottom: 15% !important;
    }
    .store-card {
        height: 350px;
    }
    .store-data {
        bottom: 15% !important;
    }
    .store-card .icons {
        top: -10px;
        display: block;
        padding: 0;
        right: -10px;
        position: absolute;
    }
    .store-card .icons .icon {
        width: 30px;
        margin: 5px;
        height: 30px;
    }
    .view-all-stores {
        height: 350px !important;
    }
}

@media only screen and (max-width: 600px) {
    .product-card {
        height: 450px;
    }
    .view-all-gifts {
        height: 450px;
    }
}

@media only screen and (max-width: 400px) {
    .item .product-card {
        margin: 0 auto;
        height: 500px;
        width: 90%;
    }
    .product-card {
        margin: 0 auto;
        height: 520px;
        width: 90%;
    }
    .view-all-gifts {
        margin: 0 auto;
        height: 500px !important;
        width: 90% !important;
    }
}

figure.snip1192 {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: none !important;
}

figure.snip1192 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure.snip1192 img {
    max-width: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: inline-block;
    z-index: 1;
    position: relative;
}

figure.snip1192 blockquote {
    margin: 0;
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #f2f2f2;
    padding: 30px 50px 65px 50px;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 0 -50px;
    line-height: 1.6em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
    font-family: "FontAwesome";
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
    color: #9500ff;
}

figure.snip1192 blockquote:before {
    top: 35px;
    left: 20px;
}

figure.snip1192 blockquote:after {
    content: "\201D";
    right: 40px;
    bottom: 35px;
}

figure.snip1192 .author {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

figure.snip1192 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
}

.giftSection {
    background-color: #f2f2f2;
}

.shop-top-bar {
    border: 1px solid #c1c9d0;
}
.custom-text {
    color: #9500ff;
}
.shop-top-bar .form-control {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 17px;
    border: none;
    font-size: 12px;
    border-radius: 0;
}

.shop-top-bar select option {
    font-size: 0.875rem;
    color: #111;
}

.shop-top-bar strong {
    font-size: 12px;
    font-weight: 700;
}

.shop-top-bar a {
    color: #9500ff;
    font-size: 14px;
}

.search-bar .search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #9500ff;
}

.search-bar .search__input {
    width: 100%;
    padding: 12px 12px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 12px;
    line-height: 18px;
    color: #575756;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 97% center;
    border: none;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search-bar .search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search-bar .search__input:hover,
.search__input:focus {
    padding: 12px 5px;
    outline: 0;
    background-position: 100% center;
}

.gift-sidebar {
    border: 1px solid #c1c9d0;
    padding: 0.5rem;
}

.gift-sidebar p {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.gift-sidebar ul {
    list-style: none;
}

.gift-sidebar ul li a {
    color: #000;
    font-weight: 500;
    font-size: 15px;
}

.gift-sidebar ul li a:hover {
    color: #9500ff;
    text-decoration: none;
}

.priceRangeContainer {
    width: 100%;
}

.priceSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.priceSlider:hover {
    opacity: 1;
}

.priceSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #9500ff;
    cursor: pointer;
}

.priceSlider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #9500ff;
    cursor: pointer;
}

.rating-bar ul li {
    line-height: 1.2;
}

.rating-bar ul li a {
    font-size: 12px;
    color: #9500ff !important;
}

.view-all-stores {
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 300px;
}

.view-all-stores .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.view-all-gifts {
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 360px;
}

.view-all-gifts .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.gift-title {
    font-weight: 900 !important;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.5rem !important;
}

.gift-title-little {
    line-height: 1.5;
    padding: 10px 0 10px 0;
    margin: 0;
    font-weight: 700;
    font-size: 1.4rem;
}

.gift-price {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: #9500ff;
    line-height: 1;
}

.pro-rating {
    line-height: 35px;
    display: flex;
    align-items: center;
}

.pro-counter {
    margin-bottom: 10px;
}

.item-quantity {
    width: 100px;
    height: 45px;
}

.item-quantity input[type="text"] {
    height: 40px;
    text-align: center;
}

.input-group-btn {
    float: left;
    width: 30px;
    height: 20px;
}

.input-group-btn button {
    display: block;
    height: 20px;
    padding: 0 10px;
    font-size: 10px;
    border: 1px solid #dee2e6;
    border-radius: 0;
    outline: none !important;
}

.input-group-btn button:active,
.input-group-btn button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.gift-data .badge {
    display: inline-block;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
    padding: 2px 7px 2px 7px;
    min-width: 40px;
    text-align: center;
    line-height: 1.5;
}

.gift-rating {
    color: #ddd;
}

.gift-rating i {
    margin-right: 0.5rem;
}

.gift-infos .gift-single-info {
    font-size: 0.875rem;
}

.gift-data a {
    color: #000;
}

.gift-data a:hover {
    color: #9500ff;
    text-decoration: none;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #9500ff;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.gift-data .tab-content {
    margin-top: 10px;
}

.gift-data .tab-content .tab-pane {
    border: 1px solid #dee2e6;
    padding: 15px;
}

.store-logo {
    max-width: 200px !important;
}

.store-logo img {
    width: 100% !important;
}

.store-top-bar {
    border: 1px solid #c1c9d0;
    padding: 0.5rem;
}
.store-top-bar p {
    font-size: 14px;
}
.store-top-bar h2 {
    font-weight: 800;
    font-size: 1.5rem;
}

.store-top-bar .ratings {
    color: #9500ff;
}
.store-data-overlay a {
    text-decoration: none;
}
.data-overlay a {
    text-decoration: none;
}
#cart_page .right-table {
    background-color: #fff;
    border: 2px solid #d3d3d3;
    margin-bottom: 30px;
}
#cart_page .right-table tr,
#cart_page .right-table td,
#cart_page .right-table th {
    border: none !important;
}
#cart_page .item-price {
    color: #9500ff;
    font-size: 1.25rem;
    font-weight: 600;
}
#cart_page .right-heading {
    text-align: center;
    font-weight: 900 !important;
    font-size: 1.2rem;
}
#cart_page .top-table tbody tr {
    background-color: #fff;
    align-items: center;
    border: 2px solid #d3d3d3;
    margin-bottom: 30px;
}
#cart_page .top-table tbody tr td {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: none;
}
#cart_page .top-table tbody tr td .item-detail {
    justify-content: flex-start;
}
#cart_page .top-table tbody tr td .item-detail h4 {
    font-size: 1rem;
    font-weight: 600;
}
#cart_page .top-table tbody tr td .item-detail .item-controls .btn {
    font-size: 12px;
    border: 1px solid #dee2e6;
    padding: 0 5px;
}
#profile_content .media-main {
    margin-bottom: 30px;
}
#profile_content .media-main .media {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
}
#profile_content .media-main .media-body {
    margin-left: 15px;
}
#profile_content small {
    font-weight: bolder;
}
#profile_content .media-main .media-body h4 {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bolder;
}
/* #profile_content .media-main .media-body .detail span {
    display: block;
    font-size: 0.875rem;
    font-weight: bolder;
} */
#profile_content .media-main .media-body .detail {
    text-align: right;
}
#profile_content .media-main .media img {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 200px;
}
#profile_content .nav-link {
    display: block;
    padding: 0.5rem 1rem !important;
}
#profile_content .list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
#profile_content .list-group .list-group-item {
    padding: 0;
}
#profile_content .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#profile_content .list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
#profile_content .list-group .list-group-item .nav-link {
    color: #6c757d;
}
#profile_content .list-group .list-group-item .nav-link .fas {
    color: #6c757d;
    width: 20px;
    text-align: center;
    margin-right: 7px;
}
#profile_content .list-group .list-group-item .nav-link .fa {
    color: #6c757d;
    width: 20px;
    text-align: center;
    margin-right: 7px;
}
#profile_content form {
    float: left;
    width: 100%;
    background-color: white;
    padding: 30px;
}
#profile_content form .btn {
    float: right;
}
#profile_content .heading h2 {
    font-weight: 600 !important;
    font-size: 1.5rem !important;
}
#profile_content .table {
    background-color: white;
    text-align: center;
}
#profile_content .table tr {
    border-bottom: 2px solid #ced4da;
}
#profile_content .table th {
    border: none;
    vertical-align: middle;
}
.checkout-area .checkout-module .checkoutd-nav {
    padding-left: 0;
    padding-right: 0;
}

#checkout_content .checkoutd-nav .nav-item {
       width: auto;
    margin-right: 15px;
    min-width: calc(25% - 17px);
}

#checkout_content .checkoutd-nav .nav-item a {
    background-color: #e1e1e1;
    padding: 5px;
    color: #000;
    padding-left: 35px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 0;
}

#checkout_content .checkoutd-nav .nav-item a:after {
    content: "";
    border-top: 19.7px solid transparent;
    border-bottom: 19.7px solid transparent;
    border-left: 18px solid #e1e1e1;
    position: absolute;
    right: -18px;
    top: 0px;
    z-index: 1;
    transition: 0.4s;
}

#checkout_content .checkoutd-nav .nav-item a:before {
    content: "";
    border-top: 19.7px solid transparent;
    border-bottom: 19.7px solid transparent;
    border-left: 18px solid #f5f5f5;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.4s;
}

#checkout_content .checkoutd-nav .nav-item a.active {
    background-color: #9500ff;
    color: #fff;
}

#checkout_content .checkoutd-nav .nav-item a.active:after {
    content: "";
    border-top: 19.7px solid transparent;
    border-bottom: 17.7px solid transparent;
    border-left: 18px solid #9500ff;
    position: absolute;
    right: -18px;
    top: 0;
    z-index: 1;
    transition: 0.4s;
}

#checkout_content .checkoutd-nav .nav-item a.active:before {
    content: "";
    border-top: 19.7px solid transparent;
    border-bottom: 19.7px solid transparent;
    border-left: 18px solid #f5f5f5;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.4s;
}
#checkout_content .form-group {
    display: inline-block;
    width: 49.6%;
    padding: 0 15px;
    padding-left: 0;
}
#checkout_content .right-table {
    margin: 0;
    background-color: #fff;
    border: 2px solid #dee2e6;
    margin-bottom: 30px;
}
#checkout_content .right-table thead tr th {
    text-transform: uppercase;
    border: none;
    text-align: center;
}
#checkout_content .right-table tbody td {
    border-top: none;
    padding: 15px;
}
#checkout_content .right-table tbody th {
    border-top: none;
    padding: 15px;
}
#checkout_content .item-total {
    font-size: 1.5rem;
    font-weight: 600;
}
#checkout_content .item-price {
    color: #9500ff;
    font-size: 1.25rem;
}
.select2-container--default
    .select2-search--dropdown
    .select2-search__field:focus {
    outline: none !important;
}
.select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #9500ff !important;
}
.select2-results__option--selectable:hover {
    background-color: #9500ff !important;
}
.select2-container .select2-selection--single {
    height: 45px !important;
}
.select2-container--default .select2-selection--single {
    border-radius: 0 !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 45px !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 40px !important;
}
.form-control-pop {
    display: block;
    width: 100%;
    height: 45px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #aaa;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-pop:focus {
    outline: none;
}

.reviewDiv {
    /* background-color: #f4f5f8; */
    border-bottom: 1px solid #d8d8d8 !important;
    /* border-radius: 5px; */
    margin-bottom: 1rem;
}
.reviewDiv:last-child {
    border-bottom: 0 !important;
}
.reviewDiv .review-img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.reviewDivMessage {
    font-size: 14px;
}
.reviewDate {
    color: #8d8f96 !important;
    font-size: 12px !important;
}
.starRatings {
    color: rgb(255, 192, 0);
    font-size: 14px;
}

.form-control {
    border-radius: 0;
    background-color: #fff;
}
.form-control:disabled,
.form-control[readonly] {
    background-color: #fff !important;
}
.form-control:focus {
    border-color: #9500ff !important;
    box-shadow: 0 0 0 0.2rem #ed323821;
}
.custom-file-input:focus~.custom-file-label{
    border-color: #9500ff !important;
    box-shadow: 0 0 0 0.2rem #ed323821;
}
.notifications {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 10px;
    display: none;
    background-color: white;
    z-index: 100;
    width: 368px;
    right: 166px;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}
.notifications::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.notifications::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

.notifications::-webkit-scrollbar-thumb {
    background-color: #9500ff;
}

.notifications li h6 {
    font-size: 14px;
    font-weight: 900;
    color: #9500ff;
    margin: 0;
}
.notifications li p {
    font-size: 12px;
    text-transform: lowercase;
    margin: 0;
    line-height: 15px;
}
.notifications li:hover {
    color: #000;
}
.notificationlink:active {
    color: #9500ff !important;
}
.notificationlink:hover {
    color: #000 !important;
}
.notifications .list-group-item {
    padding: 0.75rem 0rem;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.notifications .list-group-item:last-child {
    border: 0;
}
.notification-message{
        text-overflow: ellipsis;
    white-space: nowrap;
    width: 370px;
    overflow: hidden;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #9500ff;
    background-color: #9500ff;
    box-shadow: none !important;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 1px;
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
}

input[type="radio"]:checked {
    background-color: #9500ff;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 1px !important;
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: #e7e6e7;
}

input[type="checkbox"]:checked {
    background-color: #9500ff;
}
.popup-detail-info p {
    font-size: 14px;
}
.form-check-label {
    font-size: 14px;
}
.cart-thumb img {
    width: 100px;
    margin-left: 20px;
}
.checkout_heading {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 900;
}
.wizard-main-heading {
    font-size: 30px;
    text-align: center;
    color: #9500ff;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.wizard-main-detail{
    color: #000;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}
.wizard-label{
    color: #9500ff;
    font-weight: 400;
    font-size: 18px;
}
button:focus{
    outline: none !important;
}
.back_wizard{
    position: absolute;
    top: 7px;
}
.btn.focus, .btn:focus{
    box-shadow: none !important;
}
.select2-container--default .select2-selection--multiple{
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + 0.75rem + 2px) !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    border-radius: 0 !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    margin-top: -1px !important;
}
#points_nav .nav-link.active,#points_nav .show > .nav-link{
    background-color: transparent !important;
    color: #9500ff;
    font-weight: bolder;
    border-bottom: 2px solid #9500ff;
}

.list-group-item .nav-link.active,.list-group-item .nav-link.active i {
    color: #9500ff !important;
}

#points_nav .nav-link{
    color: #000;
    font-weight: bolder;
    padding: 0.1rem 2rem !important;
}

.StripeElement {
    box-sizing: border-box;
    padding: 12px 14px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 160ms;
}

.StripeElement--focus {
    box-shadow: 0 2px 4px 0 #9500ff70;
    border-color: #9500ff !important;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
.product-card .icon-trigger {
    position: absolute;
    right: 8px;
    bottom: 160px;
    width: 45px;
    cursor: pointer;
    z-index: 5;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    height: 45px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease-in-out;
    flex-direction: column;
    padding: 4px 0 0 2px;
}

.product-card .icon-trigger:hover{
    background-color: #9500ff;
}

.product-card .icon-trigger span {
    width: 10px;
    height: 2px;
    display: block;
    background-color: #9500ff;
    position: relative;
    transition: all 800ms cubic-bezier(0, 1.65, 0.58, 1);
}

.product-card .icon-trigger:hover span{
    background-color: #ffffff;
}

.product-card .icon-trigger span:last-child{
    transform: rotate(90deg);
    top: -2px;
}

.product-card .icon-trigger.close-icon span{
    transform: rotate(-136deg) translate(1px,0px);
}

.product-card .icon-trigger.close-icon span:last-child{
    transform: rotate(-49deg)translate(0px,-1px);
}
 .product-card .icons {
    position: absolute;
    z-index: 2;
    bottom: 212px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    overflow: hidden;
}
.product-card .icons .btn {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9500ff;
    width: 45px;
    height: 45px;
    padding: 5px 0px;
    text-align: center;
    font-size: 15px;
    transition: transform 800ms cubic-bezier(0, 1.65, 0.58, 1), background-color 400ms ease-in-out;
    border-radius: 50%;
    margin: 8px 0px 0px;
    border: 0px;
    position: relative;
    opacity: 0;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.product-card .icons .btn:nth-child(1){
    transform: translateY( 184px);
    z-index:4 ;
}

.product-card .icons .btn:nth-child(2){
    transform: translateY(138px);
    z-index:3 ;
    transition-delay: 50ms;
}

.product-card .icons .btn:nth-child(3){
    transform: translateY( 92px);
    z-index: 2;
    transition-delay: 70ms;
}

.product-card .icons .btn:nth-child(4){
    transform: translateY( 46px);
    z-index: 1;
    transition-delay: 90ms;
}

.product-card .icons.icon-triggred .btn{
    transform: translateY( 0px);
    opacity: 1;
}
.content a{
    color: #9500ff;
    text-decoration: none;
}


#radius_range {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

#radius_range:hover {
    opacity: 1;
}

#radius_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #9500ff;
    cursor: pointer;
}

#radius_range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #9500ff;
    cursor: pointer;
}
 .list-group-item {
            cursor: pointer;
        }
        .select2-container .select2-search--inline .select2-search__field{
            height: 20px !important;
            margin: 0 !important;
        }
        .ps-pagination {
    padding: 30px;
}

.ps-pagination .pagination {
    margin-bottom: 0;
    justify-content: center;
}

.ps-pagination .pagination a {
    width: 34px;
    height: 34px;
    margin: 0 4px;
    font-size: 14px;
    color: #9500ff;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.ps-pagination .pagination a i {
    font-weight: bold;
}

.ps-pagination .pagination .active a {
    background-color: #9500ff;
    color: white;
    border-radius: 50%;
}
.select2-container .select2-selection--single,.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 38px !important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 38px !important;
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1240px !important;
}
}

.fb {
  background-color: #3B5998;
  color: white;
   width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.google {
  background-color: #dd4b39;
  color: white;
   width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.fb:hover,.google:hover {
  opacity: 1;
  color:#fff;
}
.gift-sidebar .ui-state-default,
.gift-sidebar .ui-widget-content .ui-state-default,
.gift-sidebar .ui-widget-header .ui-state-default,
.gift-sidebar .ui-button,
html .gift-sidebar .ui-button.ui-state-disabled:hover,
html .gift-sidebar .ui-button.ui-state-disabled:active {
    border-radius: 0 !important;
    border:0;
    outline: none !important;
     -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #9500ff;
    cursor: pointer;
}

.gift-sidebar .ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #9500ff !important;
    color: #222222;
    font-weight: bold;
    height: 5px !important;
}

.gift-sidebar .ui-widget.ui-widget-content {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.gift-sidebar .ui-widget.ui-widget-content:hover {
    opacity: 1;
}

#slider-range {
    width: 95%;
    margin-left: 9px;
}

.required::after {
    content: "*";
    color: red;
}
